# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/sortingSolution.iml
.idea/workspace.xml
sorting-solution/sorting-solution/.idea/inspectionProfiles/
sorting-solution/sorting-solution/src/test/
sorting-solution/sorting-solution/target/generated-sources/
sorting-solution/sorting-front/node_modules